*{
    margin: 0;
}
body{
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    width: 100vw;
    font-family: Helvetica;
    height: 100vh;
=======
    overflow-x: hidden;
}
